<?xml version="1.0" encoding="UTF-8"?>
<data>
	<ServerConfig port="1024" maxPlayers="100"/>
	<GameConfig>
		<Rooms start="outside">
			<room name="outside" daemon="none">
				<exit direction="north" room="entrance" />
			</room>
		</Rooms>
		<Daemons>
			<daemon name="Meanny" health="100" value="10" attacks="flames,crush" />
		</Daemons>
		<Attacks>
			<attack name="sword" damage="10" daemonOnly="false" />
			<attack name="flames" damage="20" daemonOnly="false" />
			<attack name="crush" damage="30" daemonOnly="true" />
		</Attacks>
	</GameConfig>
</data>
